<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Note</h4>
            </div>
            <div class="modal-body">
                <div>
                    Note that this site is no longer actively maintained, and the company behind this site was closed down.
                </div>
                <div>
                    Therefore, not all links may work as expected.
                </div>
                <br/>
                <div>
                    The reason why this site is still available is solely for demonstration and informational purposes. 
                    You may visit <a href="http://www.thomas-weller.de">thomas-weller.de</a> for further details.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>