<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZeroEntities" connectionString="metadata=res://*/ZeroModel.csdl|res://*/ZeroModel.ssdl|res://*/ZeroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zerodb.cuu4yk27fryr.eu-west-1.rds.amazonaws.com,1433;initial catalog=Zero;persist security info=True;user id=zero_master;password=k8F!bn3%;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>