<!-- <h4>
         TODO: Fix css styles via edit forum styles/custom css in bravenet: http://pub9.bravenet.com/forum/v2/#bn-forum-1-1-764233593/9167/show</h4>
    <br />
    <div id="wait" class="container" style="height: 500px">
        <div class="row span2 offset5" style="margin-top: 200px">
            <img src="~/Content/images/waitSpinner.gif" style="horiz-align: center" />
            <p class="lead" style="horiz-align: center; margin-top: 20px; margin-left: 12px">
                Loading...</p>
        </div>
    </div>
    Bravenet Embedded Service Code
    <script src="http://apps.bravenet.com/go.js?service=forum;id=1;usernum=764233593" type="text/javascript" charset="utf-8"></script> 
    <script type="text/javascript">
    window.onload = function () {
        $('#wait').hide();
    };
</script>
  
<div class="container" style="height: 500px">
    <iframe height="500px" width="100%" srcdoc="https://dotcq.zendesk.com/forums"></iframe>
</div>
  -->