<div class="page-header background-grey strip">
    <div class="container">
        <h1>
            Legal Company Information</h1>
    </div>
</div>
<div class="container">
    <h3>
        Company details</h3>
    <p>
        <strong>dotCQ Software Development Ltd. & Co. KG</strong></p>
    <p>
        Vorholzstr. 32<br />
        76137 Karlsruhe<br />
        Germany</p>
    <p>
        Registration Court: Mannheim HRA 704886<br />
        VAT Id: DE289477133<br />
        Tax Id: 35039/11700</p>
    <p>
        <em>Personally Liable Shareholder:</em><br />
        dotCQ Software Development Ltd.<br />
        69 Great Hampton Street<br />
        B18 6EW Birmingham<br />
        Great Britain<br />
        Director: Thomas Weller<br />
        Co. Number: 8339380</p>
    <p>
        Mail: info [at] dotcq [dot] com<br />
        Web: www.dotcq.com</p>
    <hr style="border-top: 1px solid #333" />
    <h3>
        Disclaimer</h3>
    <p>
        <strong>Liability for Content</strong></p>
    <p>
        Every effort is made to keep the information on this Web site current, but no liability
        whatsoever will be accepted for the content provided. Pursuant to §7 par. 1 of TMG
        (German Tele-Media Act), the law limits our responsibility as a service provider
        to our own content on these Web pages.</p>
    <p>
        According to §§8 to 10 of TMG, we are not obligated to monitor third party information
        provided or stored on our Web site. However, we shall promptly remove any content
        upon becoming aware that it violates the law. Our liability in such an instance
        shall commence at the time we become aware of the respective violation.</p>
    <p>
        <strong>Liability for Links</strong></p>
    <p>
        This site contains links to third-party Web sites. We have no influence whatsoever
        on the information on these Web sites and accept no guaranty for its correctness.
        The content of such third-party sites is the responsibility of the respective owners/providers.</p>
    <p>
        At the time third-party Web sites were linked to ours, we found NO GROUNDS WHATSOEVER
        of any likely contravention of the law. We shall promptly delete a link upon becoming
        aware that it violates the law.</p>
    <p>
        <strong>Liability for Figures, Calculations, and Estimates</strong></p>
    <p>
        While the figures and calculations on this site are, to the best of our knowledge,
        as accurate as possible, we will not accept any liability whatsoever for the provided
        figures or any conclusions that you may draw from them.</p>
    <p>
        <strong>Copyrights</strong></p>
    <p>
        The content and works provided on these Web pages are governed by the copyright
        laws of Germany. Duplication, processing, distribution, or any form of commercialization
        of such material beyond the scope of the copyright law shall require the prior written
        consent of its respective author or creator.</p>
    <p>
        <strong>Data Protection</strong></p>
    <p>
        Please be aware that there are inherent security risks in transmitting data, such
        as e-mails, via the Internet, because it is impossible to safeguard completely against
        unauthorized access by third parties. Nevertheless, we shall safeguard your data,
        subject to this limitation. In particular, personal information will be transmitted
        via the Internet only if it does not infringe upon third-party rights, unless the
        respective party has given its prior consent in view of such security risks. Accordingly,
        as the Web site provider, we shall not be held liable for any damages incurred as
        a consequence of such security risks or for any related acts of omission on our
        part.</p>
    <p>
        We oppose the use of any available contact information by a third party for sending
        unsolicited advertisements. As the Web site provider, we reserve the express right
        to take legal action against unsolicited mailing or e-mailing of spam and other
        similar advertising materials.</p>
    <small>(<strong>Sources:</strong> <a href="http://www.streifler.de/">Rechtsanwälte Streifler
        &amp; Kollegen</a>, <a href="http://www.twigg.de">twiggs translations Übersetzungsbüro</a>)
    </small>
    <hr style="border-top: 1px solid #333" />
    <h3>
        Privacy</h3>
    <p>
        <strong>General</strong></p>
    <p>
        The general purpose of this site is to collect data that serves as a guidance in
        the further development of the .CQ service, and to align this development with real-world
        demands as close as possible. Whereas this site collects very few data by itself,
        it uses a number of 3rd party plugins and services that do so. These data then are
        sampled and evaluated in various ways, with the exclusive aim of drawing an overall
        picture that is as meaningful and significant as possible in the given context.</p>
    <p>
        <strong>Data that we collect</strong></p>
    <p>
        Currently, the only data that are collected directly by this site, are:</p>
    <ul>
        <li>The IP address of the requesting page.</li>
        <li>The input and result data from the Calculator page.</li>
    </ul>
    <p>
        <strong>3rd party services and plugins</strong></p>
    <p>
        As mentioned, this website is using a number of services and plugins from other
        companies. Each of these services collect data own their own behalf, using various
        technologies (e.g. Cookies). These services, their specific purpose in the context
        of this site, and their privacy statements are listed below:</p>
    <ul>
        <li><strong>Facebook</strong> - social sharing plugin - <a href="https://www.facebook.com/about/privacy">
            https://www.facebook.com/about/privacy</a></li>
        <li><strong>Twitter</strong> - social sharing plugin - <a href="http://twitter.com/privacy">
            http://twitter.com/privacy</a></li>
        <li><strong>Google Plus</strong> - social sharing plugin - <a href="http://www.google.com/intl/en/policies/privacy/">
            http://www.google.com/intl/en/policies/privacy</a></li>
        <li><strong>LinkedIn</strong> - social sharing plugin - <a href="http://www.linkedin.com/static?key=privacy_policy&trk=hb_ft_priv">
            http://www.linkedin.com/static?key=privacy_policy&trk=hb_ft_priv</a></li>
        <li><strong>Delicious</strong> - social sharing plugin - <a href="http://delicious.com/privacy">
            http://delicious.com/privacy</a></li>
        <li><strong>Google Analytics</strong> - web analytics - <a href="http://www.google.com/analytics/learn/privacy.html">
            http://www.google.com/analytics/learn/privacy.html</a></li>
        <li><strong>MailChimp</strong> - newsletter - <a href="http://mailchimp.com/legal/privacy">
            http://mailchimp.com/legal/privacy</a></li>
        <li><strong>ZenDesk</strong> - forums - <a href="http://www.zendesk.com/company/privacy">
            http://www.zendesk.com/company/privacy</a></li>
        <li><strong>Disqus</strong> - on-page comments - <a href="http://help.disqus.com/customer/portal/articles/466259-privacy-policy">
            http://help.disqus.com/customer/portal/articles/466259-privacy-policy</a></li>
        <li><strong>SurveyMonkey</strong> - online surveys - <a href="http://blog.surveymonkey.com/blog/2010/10/29/privacy-for-survey-respondents/">
            http://blog.surveymonkey.com/blog/2010/10/29/privacy-for-survey-respondents</a></li>
    </ul>
    <hr style="border-top: 1px solid #333" />
    <h3>
        3rd Party Credits, Licenses, and Acknowledgements</h3>
    <p>
        The making of this website involved the usage of a number of third party open source
        components. They are listed below. Besides these 'big' components, there were miriads
        of articles, blogs, <a href="http://stackoverflow.com/">stackoverflow</a> answers
        and the like that helped in developing this site. Thanks to all!</p>
    <p>
        <strong>AWS SDK for .NET</strong></p>
    <p>
        This website uses Amazon's <a href="http://aws.amazon.com/sdkfornet/">AWS SDK for .NET</a>,
        which provides .NET APIs for many AWS services. It is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">
            Apache License, Version 2.0</a>.</p>
    <p>
        <strong>Bootstrap.MVC</strong></p>
    <p>
        This website uses <a href="https://github.com/sirkirby/twitter-bootstrap-nuget">Bootstrap.MVC</a>,
        a software package that adds <a href="http://twitter.github.io/bootstrap/index.html">
            Bootstrap</a> support to ASP.NET MVC web applications. Bootstrap.MVC is licensed
        under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version
            2.0</a>.</p>
    <p>
        <strong>Disqus Helper</strong></p>
    <p>
        This website uses <a href="http://disqusforwebpages.codeplex.com/">Disqus Helper for
            ASP.NET Web Pages</a> to integrate Disqus threads. Disqus Helper is licensed
        under the <a href="http://disqusforwebpages.codeplex.com/license">Microsoft Public License
            (Ms-PL)</a>.</p>
    <p>
        <strong>Fluent NHibernate</strong></p>
    <p>
        Parts of the sample use analysis result from the source code of the <a href="http://www.fluentnhibernate.org/">
            Fluent NHibernate</a> opensource project. It is licensed under the <a href="https://raw.github.com/jagregory/fluent-nhibernate/master/LICENSE.txt">
                BSD 3-clause license</a>.</p>
    <p>
        <strong>JavaScript Number Formatter</strong></p>
    <p>
        This website uses the <a href="https://code.google.com/p/javascript-number-formatter/">
            javascript-number-formatter</a> JavaScrpt library, which is licensed under the
        <a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>.</p>
    <p>
        <strong>jQuery</strong></p>
    <p>
        This website uses <a href="http://jquery.com/">jQuery</a>, the popular JavaScript
        library, together with various plugins. jQuery is licensed under the <a href="https://raw.github.com/jquery/jquery/master/MIT-LICENSE.txt">
            MIT License</a>.</p>
    <p>
        <strong>jQuery UI</strong></p>
    <p>
        This website uses <a href="http://jqueryui.com/">jQuery UI</a>, a set of user interface
        widgets built on top of the jQuery JavaScript Library. jQuery UI is licensed under
        the <a href="https://raw.github.com/jquery/jquery-ui/master/MIT-LICENSE.txt">MIT License</a>.</p>
    <p>
        <strong>jQuery throttle / debounce</strong></p>
    <p>
        This website uses the <a href="https://github.com/cowboy/jquery-throttle-debounce">jQuery
            throttle / debounce</a> jQuery plugin. It is dual licensed under the <a href="https://github.com/cowboy/jquery-throttle-debounce">
                MIT and GPL License</a>.</p>
    <p>
        <strong>Json.NET</strong></p>
    <p>
        This website uses <a href="http://json.codeplex.com/">Json.NET</a>, a JSON framework
        for .NET, to perform various JSON-related tasks. It was written by <a href="http://james.newtonking.com/">
            James Newton-King</a> and is licensed under the <a href="http://json.codeplex.com/license">
                MIT License</a>.</p>
    <p>
        <strong>MCAPI.NET</strong></p>
    <p>
        This website uses <a href="http://mcapinet.codeplex.com/">MCAPI.NET</a>, a .NET
        wrapper for the MailChimp and Mandrill APIs, written by DK. MCAPI.NET is licensed
        under the <a href="http://mcapinet.codeplex.com/license">Microsoft Public License (Ms-PL)</a>.</p>
    <p>
        <strong>Meta.Numerics</strong></p>
    <p>
        For the making of the sample report, the <a href="http://www.meta-numerics.net/">Meta.Numerics</a>
        math and statistics library was used. Meta.Numerics is licensed under the <a href="http://metanumerics.codeplex.com/license">
            Microsoft Public License (Ms-PL)</a>.</p>
    <p>
        <strong>NUnit</strong></p>
    <p>
        <a href="http://www.nunit.org/">NUnit</a>, the popular unit-testing framework for
        .NET, played an important role in the development process of this site. It is licensed
        under the <a href="http://nunit.org/index.php?p=license&r=2.6.2">NUnit License</a>.</p>
    <p>
        <strong>RestSharp</strong></p>
    <p>
        This website uses <a href="http://restsharp.org/">RestSharp</a>, a simple and easy-to-use
        REST and HTTP API Client for .NET. RestSharp is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">
            Apache License, Version 2.0</a>.</p>
    <p>
        <strong>Sonar</strong></p>
    <p>
        For the making of the sample report, the open source software quality management
        tool <a href="http://www.sonarsource.org/">Sonar</a> was used. Sonar is licensed
        under the <a href="http://www.ohloh.net/licenses/lgpl3">GNU Lesser General Public License
            v3.0</a>.</p>
    <p>
        <strong>Sonar C# Ecosystem</strong></p>
    <p>
        The Sonar tool was enhanced with the <a href="http://docs.codehaus.org/display/SONAR/C%23+Ecosystem">
            C# Ecosystem</a>, a set of Sonar plugins used to monitor .NET source code. The
        C# Ecosystem is also licensed under the <a href="http://www.ohloh.net/licenses/lgpl3">
            GNU Lesser General Public License v3.0</a>.</p>
    <p>
        <strong>StyleCop</strong></p>
    <p>
        For the making of the sample report, the <a href="http://stylecop.codeplex.com/">StyleCop</a>
        open source analysis tool was used. StyleCop is licensed under the <a href="http://stylecop.codeplex.com/license">
            Microsoft Public License (Ms-PL)</a>.</p>
    <p>
        <strong>Twitter Bootstrap</strong></p>
    <p>
        This website uses <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a>,
        a css front-end framework. It is licensed under the <a href="https://raw.github.com/twitter/bootstrap/master/LICENSE">
            Apache License, Version 2.0</a>. Documentation and contained <a href="http://glyphicons.com/">
                Glyphicons Free</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/">
                    CC BY 3.0</a>.</p>
    <p>
        <strong>WordPress</strong></p>
    <p>
        The blog of this website uses the <a href="http://wordpress.org/">WordPress</a>
        open source platform. WordPress is licensed under <a href="http://wordpress.org/about/license/">
            GNU General Public License v2 (GPLv2)</a>.</p>
    <p>
        <strong>ZendeskApi_v2</strong></p>
    <p>
        This website uses <a href="https://github.com/eneifert/ZendeskApi_v2">ZendeskApi_v2</a>,
        a C# wrapper for Zendesk's api v2. There is no explicit license attached.</p>
</div>
